<div class="row justify-content-around" style="margin-left:0; margin-right:0">
  <div class="col-md-9 col-sm-9 col-lg-3 col-xs-9 mt-5">
    <div class="service-container" (mouseenter)="setTitleState()" (mouseleave)="setTitleState()">
      <div class="bk-image">
      </div>
      <div class="service-title text-center" [@titleAnimate]="getState()" >   
        <h4 class="service-title-headline">Title</h4>
      </div>
      <div class="service-description text-center" [@descAnimate]="getState()">
        <div class="description-container">
          <h4 class="service-description-headline">Title</h4>
          <p class="service-description-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum esse minima ad dolorum sit saepe numquam, maiores culpa rerum enim id ipsum? Esse ea, incidunt dolores assumenda sed nihil autem!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9 col-lg-3 col-sm-9 col-xs-12 mt-5">
      <div class="service-container" (mouseenter)="setTitleStateOne()" (mouseleave)="setTitleStateOne()">
        <div class="bk-image-one">
        </div>
        <div class="service-title text-center" [@titleAnimate]="getStateOne()" >   
          <h4 class="service-title-headline">Title</h4>
        </div>
        <div class="service-description text-center" [@descAnimate]="getStateOne()">
          <div class="description-container">
            <h4 class="service-description-headline">Title</h4>
            <p class="service-description-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum esse minima ad dolorum sit saepe numquam, maiores culpa rerum enim id ipsum? Esse ea, incidunt dolores assumenda sed nihil autem!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-lg-3 col-sm-9 col-xs-9 mt-5">
        <div class="service-container" (mouseenter)="setTitleStateTwo()" (mouseleave)="setTitleStateTwo()">
          <div class="bk-image-two">
          </div>
          <div class="service-title text-center" [@titleAnimate]="getStateTwo()" >   
            <h4 class="service-title-headline">Title</h4>
          </div>
          <div class="service-description text-center" [@descAnimate]="getStateTwo()">
            <div class="description-container">
              <h4 class="service-description-headline">Title</h4>
              <p class="service-description-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum esse minima ad dolorum sit saepe numquam, maiores culpa rerum enim id ipsum? Esse ea, incidunt dolores assumenda sed nihil autem!
              </p>
            </div>
          </div>
        </div>
      </div>
</div>