.feature-one{
    color: red;

}

.feature-two{
    color: blue;
    
}

.feature-three{
    color: green;
    
}

@media only screen and (max-width: 600px) {

    h1{
        font-size: 18pt;
        font-weight: bolder;
    }

    h4{
        font-size: 14pt;
        font-weight: bolder;
    }
   
    p{
        font-size: 12pt;
    }

}